* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: 'relative';
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#map {
    width: 100%;
    height: 100vh;
}

.app-header {
    position: absolute;
    display: flex;
    z-index: 999;
    padding: 3rem;
    padding-left: 4.625rem;
    padding-right: 4.625rem;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.app-header>img {
    height: 160px;
    width: auto;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu>i {
    color: rgba(51, 51, 51, 0.85);
    font-size: 80px;
}

footer {
    position: absolute;
    z-index: 999;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 6rem;
    row-gap: 4rem;
}

.app-footer {
    padding: 1rem;
    background-color: rgba(51, 51, 51, 0.85);
    height: 5.5vh;
    width: 77%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px rgba(158, 158, 158, 0.5);
    border-radius: 20rem;
}

.app-footer>button {
    border: none;
    padding: 2.31225rem;
    background-color: rgb(172, 26, 26);
    border-radius: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.5);
    position: absolute;
}

.app-footer>button>i {
    font-size: 100px;
    color: white;
}

.utils {
    display: flex;
    width: 70%;
    justify-content: right;

}

.utils>i {
    font-size: 60px;
    color: rgba(255, 255, 255, 0.85);
}

nav {
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 0 1.625rem;
}

.notifications {
    display: flex;
    position: absolute;
    z-index: 999;
    top: 280px;
    width: 100%;
    justify-content: center;
}

.not-module {
    background-color: white;
    width: 85%;
    padding: 3rem 4.625rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    border-radius: 200px;
    box-shadow: 0px 1px 10px rgb(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    animation: popIn .5s ease-in-out;
}

.not-title {
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
}

.not-body {
    font-size: 30px;
    font-weight: 400;
}

#not-icon {
    position: absolute;
    font-size: 180px;
    right: 60px;
    bottom: 60px;
    color: rgba(0, 0, 0, 0.1)
}

.not-close {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 30px;
    padding: .625rem;
    color: rgba(54, 54, 54, 0.685)
}

.locations-container {
    position: absolute;
    width: 100%;
    top: 280px;
    width: 100%;
    z-index: 799;
}

.locations-content {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(119, 38, 38);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    box-shadow: 0cap 0px 28px -6px rgba(175, 175, 175, 0.25);
    border-radius: 15px;
    overflow: hidden;
}

.locations-title-container {
    width: 100%;
    background-color: rgb(172, 26, 26);
    color: white;
    padding: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.locations-title {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.locations-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    row-gap: 20px;
    max-height: 400px;
    overflow-y: scroll;
}

.location {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.location>img {
    width: 100%;
}

.location-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    font-size: 26px;
    padding: 5px;
    padding-left: 15px;
    text-align: center;
    font-weight: 500;
}

.animate-locations {
    animation: popIn .5s ease-in-out;
}

.hide {
    display: none;
}

@keyframes popIn {
    0% {
        opacity: 0;
        margin-top: 100px;
    }

    50% {
        margin-top: 0px;
    }

    70% {
        transform: rotateX(-25deg);
    }

    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}

.remove-not {
    animation: fadeOut .5s ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}